
<div class="row">
  <br />
  <!--<br />-->
</div>
<!--<div class="col-md-6" style="margin-top:3%;">
  <div class="card">
    <h4 class="card-header">Hello!</h4>
    <div class="card-body">
      <h5 class="card-title">Summary</h5>
      <p class="card-text">Hey there, for more information about this map, please, check in   <a href="https://github.com/JACHV2612/VoxelCovidMap.git">gitthub</a></p>
      <p class="card-text">Jorge´s test</p>
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>

</div>-->
<!--<div class="col-md-6"></div>
<div class="col-md-12">
  <br />
  <br />
</div>-->

<div class="map-container  col-md-12">
  <div class="map-frame">
    <div #map id="map" class="map">
    </div>
  </div>
</div>
<!--<div class="col-md-6">
  <br />
  <br />
  <br />
  <br />
  <br /><br />
</div>-->
